.container {
  display: flex;
  /* height: 100vh; */
  width: 100vw;
  background-color: #fae8e0;
  /* justify-content: center; */
  flex-direction: column;
}

.header {
  background-color: #2a383f;
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #fae8e0;
}

.body {
  height: 80vh;
  padding: 20px;
}

.data {
  color: black;
}
