

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

.header {
  background-color: #2a383f;
  height: 20vw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #fae8e0;
}

.body {
  min-height: 80vh;
  padding: 20px;
}

.dropdowns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.dropdownText {
  color: black;
}

.dataText {
  color: black;
  font-size: 1vw;
}

.dataLink {
  color: blue;
  font-weight: bold;
  font-size: 1vw;

}

.feedbackContainer {
  margin-top: 5vw;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.dropdownContainer2 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown2 {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.text {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 1vw;
}

.measureCategory {
  height: 12vw;
  width: 18vw;
  font-size: 1.5vw;
  background-color: black;
  color: white
}

.measureCategory.selected {
  border-color: black;
  border-width: 0.5vw;
}

.measureCategoryContainer{
  display: flex;
  justify-content: center;
}

.measures {
  display: flex;
  justify-content: center;
}

.box {
  height: 200px;
  width: 300px;
  font-size: 23px;
  background-color: black;
  color: white;
}

.developmentalLevelContainer {
  display: flex;
  gap: 2vw;
  margin-top: 1.5vw;
}

.textContainer {
  height: 11vw;
  width: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5vw;
  background-color: white;
  border-width: 0.75vw;
}

.textContainer.selected {
  border-width: 0.75vw;
  border-color: black;

}

.textContainer.respondingEarlier {
  background-color: #edcda4;
}

.textContainer.respondingLater {
  background-color: #f2c385;
}

.textContainer.exploringEarlier {
  background-color: #c4d6bc;
}

.textContainer.exploringMiddle {
  background-color: #a4bd99;
}

.textContainer.exploringLater {
  background-color: #89ad79;
}

.textContainer.buildingEarlier {
  background-color: #e2d5e3;
}

/* .textContainer.plannedLearningActivity {
  background-color: #e86661;
}

.textContainer.interactions {
  background-color: #f59536;
}

.textContainer.learningEnv {
  background-color: #e0db38;
}

.textContainer.fam {
  background-color: #79e888;
}

.textContainer.proGrowth {
  background-color: #7fc7c9;
} */

.textContainer.frogStreet {
  background-color: #46e87c;
}

.textContainer.iters {
  background-color: #e3e663;
}

.textContainer.asq {
  background-color: #af5bf0;
}

.textContainer.hselof {
  background-color: #e197e8;
}

.textContainer.center {
  background-color: #d1387b;
}

.textContainer.pyramid {
  background-color: #f7be54;
}

.textContainer.attendance {
  background-color: #89c6f0;
}



.bar {
  background-color: #2a383f;
  height: 7vw;
  width: 90vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-weight: bold;
}

.bar2 {
  background-color: #2a383f;
  height: 7vw;
  width: 90vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-weight: bold;
}

.developmentalLevelOuterContainer {
  background-color: #97d4e8;
  width: 90vw;
  padding: 1vw;
}

.teachingStratOuterContainer {
  background-color: #6eabcc;
  width: 90vw;
  padding: 1vw;
}

.resourcesOuterContainer {
  background-color: #5c88a1;
  width: 90vw;
  padding: 1vw;
}

.text.selected {
}

.testingText {
  color: black;
  font-weight: bold;
  width: 90vw;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
  margin-top: 3vw;

}

.teachingStrategy {
  width: 90vw;
  border-width: 0.3vw;
  border-color: black;
  border-style: solid;
  background-color: #aadcf0;
  padding: 0.75vw;
}

.titleText {
  font-weight: bold;
  font-size: 2vw;
  color: white;
}

.smallText {
  font-size: 1vw
}